
*gas_out.csv

large-grid/*/rxnpath/
large-grid/*/sensitivities/
large-grid/*/data.csv
large-grid/*/error.log
large-grid/*/figures/
large-grid/*/output.log

small-grid/*/run.sh
small-grid/*/runsimulations.sh
small-grid/*/error.log
small-grid/*/output.log

